.mistakes-count{
    text-align: center;
}
.man-bounce{
    animation: shimmy is infinite;
    animation-direction: alternate;
}
//animation has man move up and down on rope
@keyframes shimmy { 
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0px, 17px);
    }
}